<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peakacard.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infrastructure.ClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".session.view.JoinSessionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".voting.view.WaitVotingActivity" />
        <activity android:name=".cards.view.CardsActivity" />
        <activity
            android:name=".card.view.CardActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".result.view.VotingResultActivity" />
        <activity android:name=".recap.view.RecapActivity" />
    </application>

</manifest>
